<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} %l - %msg%n"/>
        </Console>
        <File name="kvClient" filename="logs/client.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} %l - %msg%n"/>
        </File>
        <File name="kvServer" filename="logs/server.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} %l - %msg%n"/>
        </File>
        <File name="ECS" filename="logs/ecs.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} %l - %msg%n"/>
        </File>
        <File name="failure_reporter" filename="logs/failure.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} %l - %msg%n"/>
        </File>
        <File name="tests" filename="logs/tests.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} %l - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!--<AppenderRef ref="Console"/>-->
            <!--<AppenderRef ref="CloudDB" />-->
        </Root>
        <Logger name="kvClient" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="kvServer" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <appender-ref ref="kvServer" />
        </Logger>
        <Logger name="ECS" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <appender-ref ref="ECS" />
        </Logger>
        <Logger name="failure_detection" level="info" additivity="false">
            <!--<AppenderRef ref="Console" />-->
            <appender-ref ref="failure_reporter" />
        </Logger>
        <Logger name="tests" level="all" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>